@inherits LayoutComponentBase

<div class="vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="card p-5 shadow" style="width: 400px;">
        @Body
        <div class="text-center text-muted mt-3">
            © @DateTime.Now.Year Blogb
        </div>
    </div>
</div>
