@inherits LayoutComponentBase

<PageTitle>Blog Login</PageTitle>

<div class="login-layout d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="login-box p-5 rounded shadow" style="background-color: #ffffff; width: 400px;">
        <div class="text-center mb-4">
            <h2 class="fw-bold">Blog Giriş</h2>
            <p class="text-muted">Hesabına </p>
        </div>

        @Body

        <div class="mt-4 text-center text-muted">
            © @DateTime.Now.Year Blog
        </div>
    </div>
</div>











@* @inherits LayoutComponentBase

<PageTitle>Blogb</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
 *@